[Desktop Entry]
Name=LibreTranslate Assistant
Comment=Translate text using LibreTranslate
Exec=libretranslate-gui
Icon=se.danielnylander.LibreTranslateAssistant
Terminal=false
Type=Application
Categories=Utility;TextTools;Translation;
Keywords=translate;translation;libretranslate;l10n;
StartupNotify=true
